### Clojure ###
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
node_modules
*.iml
*.ipr
.nrepl-port
.cpcache
.idea
.vscode
pgdata
.shadow-cljs
resources/public/js
resources/public/css
